<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TeamCityUrl" value="http://teamcity.bfl.local" />
    <add key="TeamCityUsername" value="svc_tcbuild_int" />
    <add key="TeamCityPassword" value="Password123" />
    <add key="DiscoveryFolder" value="C:\p4\ws1\depot\projects" />
    <add key="TemplateFolder" value="C:\git\teamcity-config-builder\template" />
    <!-- Don't set this to true, ever! :) -->
    <add key="Overwrite" value="false" />
  </appSettings>
</configuration>
